@{
    ViewBag.Title = "Innovative Epoxy Systems";
}

<section id="about-Resin8" class="page-section"> 
     
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-title" data-animation="fadeInUp">
                    <h1 class="text-center title blue">Resin8: Epoxy&mdash;Innovative and Versatile</h1> 
                    <h4 class="text-center blue">"A" Chemical resistence and resiliency to thermal shock</h4>
                    <h4 class="text-center title blue">"B" Mix-in the variety of 8 flooring fillers that works</h4>
                    
                </div>                           
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pad-20" data-animation="fadeInLeft">          
                  
                 <div class="owl-carousel pagination-1 dark-switch" data-pagination="true" data-autoplay="10000"
                     data-navigation="false" data-singleitem="true" data-autoplayHoverPause="true">
                    <div class="item">
                        <div class="about-us">
                            <!-- Progress Bar 1 -->
                            <h2 class="entry-title text-color">
                                Resin8 Strengths
                            </h2>
                            <h6>Built-in Resiliency</h6>
                            <div class="progress">
                                <div data-percentage="30" aria-valuemax="100" aria-valuemin="0" aria-valuenow="30"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 2 -->
                            <h6>Excellent Chemical Resistance</h6>
                            <div class="progress">
                                <div data-percentage="40" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 3 -->
                            <h6>LOW VOC. Low Odor. Solvent Free. U.S.D.A. Compliant</h6>
                            <div class="progress">
                                <div data-percentage="50" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 4 -->
                            <h6>User Friendly. Cleans with warm water and soap.</h6>
                            <div class="progress">
                                <div data-percentage="60" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 5 -->
                            <h6>Variable Set Times with Rapid Cure Times</h6>
                            <div class="progress">
                                <div data-percentage="70" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 6 -->
                            <h6>Excellent Adhesion. Self-priming system to damp, green, or old concrete.</h6>
                            <div class="progress">
                                <div data-percentage="80" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 7 -->
                            <h6>Thermal Durability. Adapts to flucuating temperatures and movements.</h6>
                            <div class="progress">
                                <div data-percentage="90" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 8 -->
                            <h6>Resin Rich for better protection </h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                        </div>
                    </div>                   
                     <div class="item">
                        <h2 class="entry-title text-color">
                           The Resin8 Advantage
                        </h2>
                         <div class="entry-content">
                             <h6>Resin8 produces a Wide Variety of Innovative Resilient 100% Solids and Water Based Epoxy Systems to Protect the Floors and Walls in Various Meat, Food, Brewery, Pharmaceutical, Industrial and Battery Plants. </h6>
                             <h6>The Advantages of the Resin8 Systems&mdash; Not only do the products have Resiliency and Excellent Chemical Resistance, but can be applied to Old or Fresh 24 hour<span class="text-green"> Green</span> Concrete without the need of a Primer.</h6>
                            
                                 <h6> Resin8 eliminates the traditional 28 day curing period for<span class="text-green"> green </span>concrete, minimizing downtime by allowing a floor to be applied after 24 hours of the concrete being poured.</h6>
                                <h6> Resin8 Systems are Solvent Free, Low Odor, and meet VOC Standards and USDA Requirements.</h6>
                                 <h6>By incorporating resiliency into the Systems, Resin8's products are able to pass the ASTM C884 test (Thermal Compatablity to concrete).</h6>
                                 <!--The success of a floor depends not only on having the right Epoxy System, but also depends upon attention to the detail around Drains, Sumps, Pipes, and Equipment. </p>-->                        
                         </div>
                    </div>
                    <div class="item">
                        <h2 class="entry-title text-color">
                            50 Years Experience
                        </h2>
                        <div class="entry-content">
                            <h6>All of Resin8 Systems have been formulated by Ralph Sacks with time proven materials to withstand the corrosive chemicals that attack resin coatings. </h6>
                            <h6>With Ralph's 50-plus years of experience in the Epoxy field, Resin8 can offer his Innovative High Performance Epoxy Systems to&mdash;</h6>
                            <div class="text-red text-center">
                                <h5>Breweries. Food & Beverage Plants.</h5>
                                <h5>Meat Packing. Poultry Plants. Dairies.</h5>
                                <h5> Pharmaceutical. Hospitals.</h5>
                                <h5>Government. Municipalities.</h5>
                                <h5>Heavy Industrial. Railcars. Steel.</h5>
                                <h5>CIPP Pipes and Tanks. Roofing.</h5>
                            </div>
                        </div>
                    </div>                     
                </div>
                <p class="small_text">hover to pause</p>
               
            </div>
            <div class="col-md-5 no-pad text-center" data-animation="fadeInRight">
                <div class="image-bg img-responsive" data-background="../img/resin8/about.jpg"></div>
            </div>
        </div>       
    </div>
</section>

<section id="industries-resin" class="page-section">
    <div class="image-bg content-in fixed" data-background="../img/resin8/school_floor.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <h1 class="title">Epoxy Solutions for Industry </h1>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Markets</li>
                <li class="filter" data-filter=".coat">Coatings</li><!--brown-->
                <li class="filter" data-filter=".floor">Floors</li><!--red-->
                <li class="filter" data-filter=".primer">Primers</li><!--grey-->
                <li class="filter" data-filter=".liner">Liners</li><!--green-->
                <li class="filter" data-filter=".grout">Grouts</li><!--blue-->
            </ul>
        </div>
    </div>
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- #1000 -->
        <a href="#1000" class="scroll">
            <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">

                <div class="grid bg-brown">
                    <img src="../img/resin8/tankliner.jpg" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Rail Cars</h4>
                            <p>Metal Tank Coating</p>
                            <p class="small">ResCoat #1000</p>
                        </div>
                    </div>
                </div>

            </div>
        </a>
        <!-- #3002 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all primer">
            <a href="#3002" class="scroll">
                <div class="grid bg-grey">
                    <img src="../img/resin8/wtroof.jpg" width="400" height="273" alt="ResHydroPrime" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Commercial Roofs</h4>
                            <p>Water-based Primer</p>
                            <p class="small">ResHydroPrime #3002</p>
                        </div>                       
                    </div>
                </div>
            </a>
        </div>
        <!-- #1000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1000" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/cleanPlant.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Floors and Walls</h4>
                            <p>100% Epoxy Coating for floors and walls</p>
                            <p class="small">ResCoat #1000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #4002 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4002" class="scroll">
                <div class="grid bg-green">
                    <img src="../img/resin8/manhole.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Rehibilitation</h4>
                            <p>Liners and Chimney Seals</p>
                            <p class="small">ResLiner-MH #4002</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- #5006 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all grout">
            <a href="#5006" class="scroll">
                <div class="grid bg-blue">
                    <img src="../img/resin8/crack.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Crack Repair</h4>
                            <p>Non-sag Gel Based Filler</p>
                            <p class="small">ResGel #5006</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #1002 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1002" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/retail.jpg" width="400" height="273" alt="Resin8 floor" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Polished Concrete</h4>
                            <p>Water Based Clear Sealer for Smooth/Decorative Concrete</p>
                            <p class="small">ResHydroSeal #1002</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #4000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4000" class="scroll">
                <div class="grid bg-green">
                    <img src="../img/resin8/pipeLiner.jpg" width="400" height="273" alt="Resin8 liner" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Pipe Linings</h4>
                            <p>CIPP Industry Pipe Lining</p>
                            <p class="small">ResCIPP #4000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #2000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all floor">
            <a href="#2000" class="scroll">
                <div class="grid bg-red">
                    <img src="../img/resin8/meatPlant.jpg" width="400" height="273" alt="Resin8 floor" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Food Plants</h4>
                            <p>Heavy Duty Trowl-able Floor</p>
                            <p class="small">ResFLoor-TL/FS #2000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #5000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all grout">
            <a href="#5000" class="scroll">
                <div class="grid bg-blue">
                    <img src="../img/resin8/tileFloor.jpg" width="400" height="273" alt="Resin8 grout" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Meat Plants</h4>
                            <p>High Chemical Resistence</p>
                            <p class="small">ResGrout HCR #5000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #1000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1000" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/ibeam.jpg" width="400" height="273" alt="Steel I-beam Coating" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Steel I-Beams</h4>
                            <p>100% Epoxy Metal Coating</p>
                            <p class="small">ResCoat #1000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #2002 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all floor">
            <a href="#2002" class="scroll">
                <div class="grid bg-red">
                    <img src="../img/resin8/pharmPlant.jpg" width="400" height="273" alt="Self-Leveling Pharmaceutical Floor" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Pharmaceutical</h4>
                            <p>Self-Leveling Floor</p>
                            <p class="small">ResFloor-SL/FS #2002</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #5000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all grout">
            <a href="#5000" class="scroll">
                <div class="grid bg-blue">
                    <img src="../img/resin8/caulkTile.jpg" width="400" height="273" alt="ResGrout #5000 Non-sag Gel Filler" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Food Plant</h4>
                            <p>Non-sag Gel Filler</p>
                            <p class="small">ResGrout #5000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #1004 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1004" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/carFloor.jpg" width="400" height="273" alt="Gel-based Grout" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Auto Showroom</h4>
                            <p>Water-based Sealer</p>
                            <p class="small">ResHyrdoSeal #1004</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #2000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all floor">
            <a href="#2000" class="scroll">
                <div class="grid bg-red">
                    <img src="../img/resin8/redFloor.jpg" width="400" height="273" alt="Res-Floor Trowel-able" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Industrial Plants</h4>
                            <p>Heavy Trowel-able Floor</p>
                            <p class="small">ResFloor-TL/FS #2000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #4000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4000" class="scroll">
                <div class="grid bg-green">
                    <img src="../img/resin8/linePipe.jpg" width="400" height="273" alt="Resin8 liner" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>CIPP Pipe Lining</h4>
                            <p>Industry Pipe Lining</p>
                            <p class="small">ResCIPP #4000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #5004 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all grout">
            <a href="#5004" class="scroll">
                <div class="grid bg-blue">
                    <img src="../img/resin8/exjoint.jpg" width="400" height="273" alt="ResCrack-Standard Joint Filler" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Expansion Joints</h4>
                            <p>Flexible Filler</p>
                            <p class="small">ResCaulk #5004</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
      
    </div>
</section>

<section id="epoxy-products" class="page-section">

    <div class="container shop">
        <div class="row">
            <div class="section-title" data-animation="fadeInUp">
                <h1 class="text-center title">Resin8 Products</h1>
            </div>
            <div class="col-sm-12 product-page">
                <!--#1000ResCoat-FS-->
                <div class="row top-margin-60" id="1000">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" >
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCoat-FS #1000</h4>
                                <h5 class="text-color">Fast Set-Time; 100% Epoxy Coating concrete floors/walls and Metals</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Fast Set-Time; 100% Epoxy Coating concrete floors/walls and Metals</h4>
                            <h5 class="text-color">ResCoat-FS #1000 </h5>
                        </div>
                        <div class="description">
                            <p>A resilient, 100% solids epoxy coating for concrete or metals, exhibiting excellent adhesion. ResCoat is self-priming and does not need a Primer on Clean Metal. </p>
                            <p class="bold">Coating Applications. Steel I-Beams. Railcars. Metal Pipes and Tanks. Steel Decking. Concrete Floors & Walls.</p>
                        </div>
                        <div class="col-sm-12">
                         <!--  <div class="btn btn-md">
                                 <a href="~/img/pdf/Resin8TDSResCoat1000Apr16.pdf" class="btn bg-brown" target="_blank">Data Sheet PDF</a>                              
                                 <a href="~/img/pdf/Resin8SDSResCoat-FS1000May16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>
                            </div>--> 
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1001ResCoat-RS-->
                <div class="row top-margin-60" id="1001">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCoat-RS #1001</h4>
                                <h5 class="text-color">Regular Set-Time; 100% Epoxy Coating for floors and walls</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Regular Set-Time; 100% Epoxy Coating for floors and walls</h4>
                            <h5 class="text-color">ResCoat-RS #1001 </h5>
                        </div>
                        <div class="description">
                            <p>A high chemical resilient, 100% solids epoxy coating for floors and walls. </p>
                            <p class="bold">Best Applications. Concrete Floors & Walls.</p>
                        </div>
                        <div class="col-sm-12">
                         <!--   <div class="btn btn-md">
                                <a href="~/img/pdf/Resin8TDSResCoat1000Apr16.pdf" class="btn bg-brown" target="_blank">Data Sheet PDF</a>
                                  <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1002 ResHydroCoat-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResHydroCoat #1002 </h4>
                                <h5 class="text-color">Water based epoxy coating for floors and walls; Satin Finish.</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water based epoxy coating for floors and walls; Satin Finish</h4>
                            <h5 class="text-color">ResHydroCoat #1002 </h5>
                        </div>
                        <div class="description">
                            <p>A highly resilient, Water-Based Epoxy Coating product for Concrete or Metals, that exhibit excellent adhesion and high Flexural properties.  This coating meets the toughest VOC requirements and is water cleanable, making it extremely user-friendly.  </p>
                            <p></p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <!--   <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown" target="_blank">Data Sheet PDF</a>
              <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1003 ResHydroTop-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1003">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResHydroTop #1003 </h4>
                                <h5 class="text-color">Economical Water Based Coating for Asphalt & Concrete</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Economical Water Based Coating for Asphalt and Concrete(not smooth)</h4>
                            <h5 class="text-color">ResHydroTop #1003 </h5>
                        </div>
                        <div class="description">
                            <p>An economical Water-Based Epoxy Coating product for Concrete or Asphalt. </p>
                            <p class="bold">Best Uses. Concrete. Asphalt</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <!--   <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown" target="_blank">Data Sheet PDF</a>
                    <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1004 ResHydroSeal-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1004">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResHydroSeal #1004 </h4>
                                <h5 class="text-color">A clear water-based epoxy sealer with excellent adhesion to concrete</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water Based Clear Sealer for Smooth/Decorative Concrete </h4>
                            <h5 class="text-color">ResHydroSeal #1004 </h5>
                        </div>
                        <div class="description">
                            <p>A VOC safe and easy to install Water Based Epoxy for Clear-TopCoat applications over smooth or decorative concrete. Provides a fast setting, thin, and highly resilient top coat. </p>
                            <p></p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <!--   <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown" target="_blank">Data Sheet PDF</a>
              <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>
              
                <!--#2000 ResFloor-TL/FS-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-red text-center" id="2000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoRed.png" alt="" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResFloor-TL/FS #2000 </h4>
                                <h5 class="text-color">Heavy Duty Trowel-able Commercial Floor System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Heavy Duty Trowel-able Commercial Floor System</h4>
                            <h5 class="text-color">ResFloor-TL/FS #2000 </h5>
                        </div>
                        <div class="description">
                            <p>ResFloor-TL/FS is a high quality trowel-able, versatile, and fast-setting 100% solids epoxy floor system, designed for heavy
traffic areas in Industrial, Food, Beverage, and Pharmaceutical plants. ResFloor-TL/FS is designed to be a SELF-PRIMING
system over old or fresh (day old) concrete, and can meet the most rigorous demands for thermal shock and mechanical loading.
ResFloor-TL/FS has very low odor, excellent chemical resistivity, and allows for a walk-able surface in less than 4 hours.</p>
                             <p class="bold">Best Use Applications. Food and Beverage Plants. Meat and Dairy Plants. Breweries. Pharmaceuticals. Battery Factories. Heavy Industrial. Secondary Containments.</p>
                        </div>
                        <div class="col-sm-12">
                        <!--    <div class="btn btn-md">
                             <a href="~/img/pdf/Resin8TDSResFloor-TL.FS2000.pdf" class="btn bg-red" target="_blank">Data Sheet PDF</a>
                             <a href="~/img/pdf/Resin8SDSResFloor-TL2000Apr16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>   
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#2001 ResFloor-HCR-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-red text-center" id="2001">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoRed.png" alt="" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResFloor-HCR #2001 </h4>
                                <h5 class="text-color">High Chemical Resistant TL or SL Flooring</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>High Chemical Resistant TL or SL Flooring</h4>
                            <h5 class="text-color">ResFloor-HRC #2001 </h5>
                        </div>
                        <div class="description">
                            <p>ResFloor-TL is a User Friendly, Time Saving Flooring System with a 30-40 Min Pot Life that will Set up for Foot Traffic within 4 Hrs(73ºF)</p>
                            <p class="bold">Best Uses. Breweries. Food and Beverage Plants. Dairies. Pharmaceutical. Meat Packing. Poultry. Heavy Industrial.</p>
                        </div>
                        <div class="col-sm-12">
                            <!--    <div class="btn btn-md">
                      <a href="~/img/pdf/Resin8TDSRes-Floor-TL302000-Mar16.pdf" class="btn bg-red">Data Sheet PDF</a>
                      <a href="~/img/pdf/Resin8SDSResFloor-TL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                    </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#2002 ResFloor-SL-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-red text-center" id="2002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoRed.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResFloor-SL/FS #2002 </h4>
                                <h5 class="text-color">Heavy Duty Self-Leveling Floor System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Heavy Duty Self-Leveling Floor System</h4>
                            <h5 class="text-color">ResFloor-SL/FS #2002 </h5>
                        </div>
                        <div class="description">
                            <p>ResFloor-SL/FS is a high quality self-leveling, versatile, and fast-setting 100% solids epoxy floor system, designed for heavy
traffic areas in Industrial, Food, Beverage, and Pharmaceutical plants. ResFloor-SL/FS is designed to be a SELF-PRIMING
system over old or fresh (day old) concrete, and can meet the most rigorous demands for thermal shock and mechanical loading.
ResFloor-SL/FS has very low odor, excellent chemical resistivity, and allows for a walk-able surface in less than 4 hours.</p>
                            <p class="bold">Best Use Applications. Food and Beverage Plants. Meat and Dairy Plants. Breweries. Pharmaceuticals. Battery Factories. Heavy Industrial. Secondary Containments.</p>
                        </div>
                        <div class="col-sm-12">
                     <!--    <div class="btn btn-md">
                                <a href="~/img/pdf/Resin8TDSResFloor-SL.FS2002.pdf" class="btn bg-red" target="_blank">Data Sheet PDF</a>
                               <a href="~/img/pdf/Resin8SDSResFloor-SL2002May16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>                        
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#2003 ResCrete
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-red text-center" id="2003">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoRed.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCrete #2003 </h4>
                                <h5 class="text-color">Epoxy Cement Flooring to replace Urethane Cements</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Epoxy Cement Flooring to replace Urethane Cements</h4>
                            <h5 class="text-color">ResCrete #2003 </h5>
                        </div>
                        <div class="description">
                            <p>ResCrete Does Not Require a Primer on Clean, Sound and/or Green Concrete. Res-Floor-SL30 is a Self-Leveling, Time Saving System with a 30-40 Min Pot Life that will Set up for Foot Traffic within 4 Hrs(73ºF). A heavy duty, Self-Leveling/Self-Priming 100% solids Epoxy floor system, designed with extremely high resiliency to meet the demanding conditions found in the food, beverage, pharmaceutical, and industrial plants. This floor system meets FDA requirements, have low VOCs, and meet stringent ASTM C884 Thermal standards.   </p>
                            <p class="bold">Best use applications. Breweries. Food and Beverage Plants. Dairies. Pharmaceutical. Meat Packing. Poultry. Heavy Industrial. </p>
                        </div>
                        <div class="col-sm-12">
                          <div class="btn btn-md">
                                <a href="~/img/pdf/Resin8TDSResFloor-SL2002-May16.pdf" class="btn bg-red" target="_blank">Data Sheet PDF</a>
                                <a href="~/img/pdf/Resin8SDSResFloor-SL2002May16.pdf" class="btn bg-tan" target="_blank">Safety Data Sheet PDF</a> 
                            </div>
                      </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>-->

                <!--#3000 ResPrime-FS-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-grey text-center" id="3000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGrey.png" alt="Resin8logo ResPrimer" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResPrime-FS #3000 </h4>
                                <h5 class="text-color">Fast Set-Time; 100% Epoxy Green Concrete Primer and All-Purpose</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Fast Set-Time; 100% Epoxy Green Concrete Primer and All-Purpose</h4>
                            <h5 class="text-color">ResPrime-FS #3000 </h5>
                        </div>
                        <div class="description">
                            <p>A 100% Solids Epoxy GREEN CONCRETE and ALL-PURPOSE primer, extremely resilient with excellent moisture resistivity, that can be used as a base coat below our Epoxy ResFloor-TL/SL Floor Systems. </p>
                            <p></p>
                        </div>
                        <div class="col-sm-12">
                            <!--  <div class="btn btn-md">
                    <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn btn-default">Data Sheet PDF</a>
                    <a href="~/img/pdf/Resin8SDSResPrime-FS3000May16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                </div>-->
                        </div>
                    </div>
                </div>              
                <div class="product-separate"><hr /></div>


                <!--#3001 ResPrim-RS-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-grey text-center" id="3001">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGrey.png" alt="Resin8logo ResPrimer" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResPrime-RS #3001 </h4>
                                <h5 class="text-color">Regular Set-Time; 100% Epoxy Green Concrete Primer and All-Purpose</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Regular Set-Time; 100% Epoxy Green Concrete Primer and All-Purpose</h4>
                            <h5 class="text-color">ResPrime-RS #3001 </h5>
                        </div>
                        <div class="description">
                            <p>A 100% Solids Epoxy GREEN CONCRETE and ALL-PURPOSE primer, extremely resilient with excellent moisture resistivity, that can be used as a base coat below our Epoxy ResFloor-TL/SL Floor Systems. </p>
                            <p></p>
                        </div>
                        <div class="col-sm-12">
                           <!--    <div class="btn btn-md">
                                 <a href="~/img/pdf/Resin8TDSResPrime-RS3001May16.pdf" class="btn btn-default">Data Sheet PDF</a> 
                         <a href="" class="btn bg-tan">Safety Data Sheet PDF</a>
                        </div>-->
                       </div>
                   </div>
                </div>
                <div class="product-separate"><hr /></div>


                <!--#3002 ResHydroPrime-->
                <div class="row top-margin-60" id="3002">                   
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-grey text-center">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGrey.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResHydroPrime #3002 </h4>
                                <h5 class="text-color">Water-based Primer </h5>
                            </div>
                        </div> 
                        </div>                 
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water-based Primer for Roofing, Smooth Concrete </h4>
                            <h5 class="text-color">ResHyroPrime #3002 </h5>
                        </div>
                        <div class="description">
                            <p>A very low VOC, Water Based Epoxy primer which exhibits exceptional adhesion to; Bitumen, Asphalt, Concrete, EPDM, Metal, PVC and Other Roof substrates. </p>
                            <p class="bold">Best uses. Commercial flat roof and smooth concrete applications that require a spray or roller applied top coat. </p>
                        </div>
                        <div class="col-sm-12">
                        <!--   <div class="btn btn-md">         
                            <a href="~/img/pdf/TDSResHydroPrime3002-May16.pdf" class="btn bg-grey">Data Sheet PDF</a>
                             <a href="~/img/pdf/Resin8SDSResHydroPrime30002May16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                             </div>--> 
                        </div>
                      </div> 
               
                    </div>
                <div class="product-separate"><hr /></div>

                <!--#4000 ResCIPP-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-green text-center" id="4000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGreen.png" alt="" width="265" height="276" class="img-responsive img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCIPP #4000 </h4>
                                <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>CIPP Industry Pipe Lining System</h4>
                            <h5 class="text-color">ResCIPP #4000</h5>
                        </div>
                        <div class="description">
                            <p>A very low VOC, Safe and easy to use Epoxy Resin, designed for Cured-in-Place Pipe (CIPP) applications. This water cleanable solution offers fast set times, zero environmental impact, and the ability to rapid cure at ambient temperatures.</p>
                        <p class="bold">Best uses. Installed Metal Pipes.</p> 
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <!--   <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown">Data Sheet PDF</a>
                               <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#4002 ResLiner-CS-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-green text-center" id="4002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGreen.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResLiner-CS #4002 </h4>
                                <h5 class="text-color">Manhole Chimney Seal System </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Manhole Chimney Seal System</h4>
                            <h5 class="text-color">ResLiner-CS #4002 </h5>
                        </div>
                        <div class="description">
                            <p>A highly stable, flexible, and moisture tolerant Epoxy Hybrid liner for manhole chimney seal applications.  Application using a trowel is simple, minimal prep required, and performs well in harsh environments.  </p>
                            <p class="bold">Best uses. Installed Manhole Chimneys.</p>
                        </div>
                        <!--  <div class="btn btn-md">
        <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn btn-default">Data Sheet PDF</a>
        <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
        </div> -->

                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#4004 ResLiner-MH-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-green text-center" id="4004">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGreen.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResLiner-MH #4004 </h4>
                                <h5 class="text-color">Manhole Liner System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Manhole Liner System</h4>
                            <h5 class="text-color">ResLiner-MH #4004 </h5>
                        </div>
                        <div class="description">
                            <p>A resilient trowel applied, non-sagging, Epoxy liner solution for encapsulating manhole barrels and benches.  This trowel applied flexible material performs excellent in harsh environments, sets within 3 hours, and bonds to wet brick and concrete. </p>
                            <p></p>
                        </div>
                        <!--  <div class="btn btn-md">
        <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn btn-default">Data Sheet PDF</a>
        <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
        </div> -->

                    </div>
                </div>
                <div class="product-separate"><hr /></div>
               
                 <!--#5000 ResGrout-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResGrout #5000 </h4>
                                <h5 class="text-color">Standard Tile Grout/Adhesive</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Standard Tile Grout/Adhesive</h4>
                            <h5 class="text-color">ResGrout #5000 </h5>
                        </div>
                        <div class="description">
                            <p>Res-Grout is a unique, versatile, resilient, multi-purpose tile grout/adhesive.</p>
                            <p class="bold">Best Applications. Breweries. Food and Beverage Plants. Dairies. Pharmaceutical. Meat Packing/Processing. Poultry. Heavy Industrial.</p>
                        </div>
                        <div class="col-sm-12">
                            <!--  <div class="btn btn-md">
                    <a href="~/img/pdf/TDSResGrout-HCR5000-Mar16.pdf" class="btn bg-blue">Data Sheet PDF</a>
                      <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>
                
                <!--#5001 ResGrout-HCR-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5001">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResGrout-HCR #5001 </h4>
                                <h5 class="text-color">High Chemical resistant Tile Grout/Adhesive</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>High Chemical resistant Tile Grout/Adhesive</h4>
                            <h5 class="text-color">ResGrout-HCR #5001 </h5>
                        </div>
                        <div class="description">
                            <p>Res-Grout-HCR is a unique, versatile, resilient, multi-purpose tile grout/adhesive; with excellent chemical resistance, and early development of Physical Properties.</p>
                            <p class="bold">Best Applications. Breweries. Food and Beverage Plants. Dairies. Pharmaceutical. Meat Packing/Processing. Poultry. Heavy Industrial.</p>
                        </div>
                        <div class="col-sm-12">
                          <!--  <div class="btn btn-md">
                                <a href="~/img/pdf/TDSResGrout-HCR5000-Mar16.pdf" class="btn bg-blue">Data Sheet PDF</a>
                                  <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>             

                <!--#5002 ResGrout-WW-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResGrout-WW #5002 </h4>
                                <h5 class="text-color">Water Wipeable Epoxy Grout System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water Wipeable Epoxy Grout System</h4>
                            <h5 class="text-color">ResGrout-WW #5002 </h5>
                        </div>
                        <div class="description">
                            <p>ResGrout-WW is a unique, versatile, resilient, water wipeable tile grout/adhesive; with good chemical resistance.</p>
                            <p class="bold">Best Applications. Any commercial tile grout or bedding application that does not require high chemical resistivity. Kitchens, bathrooms, hallways, walkways... (for high chemical resistance, refer to ResGrout-HCR)</p>
                        </div>
                        <div class="col-sm-12">
                         <!--   <div class="btn btn-md">
                                 <a href="~/img/pdf/Resin8TDSResGrout-WW5002-May16.pdf" target="_blank"class="btn bg-blue">Data Sheet PDF</a>
                                 <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#5004 ResCaulk-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-cente" id="5004">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCaulk #5004 </h4>
                                <h5 class="text-color">Flexible filler for expansion joints</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Flexible filler for expansion joints</h4>
                            <h5 class="text-color">ResCaulk #5004 </h5>
                        </div>
                        <div class="description">
                            <p></p>
                            <p> </p>
                        </div>
                        <div class="col-sm-12">
                        <!--     <div class="btn btn-md">
                                  <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown">Data Sheet PDF</a>
              <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#5006 ResGel-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5006">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCrack-Gel #5006 </h4>
                                <h5 class="text-color">Gel Based Filler</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Gel Based Filler</h4>
                            <h5 class="text-color">ResGel #5006 </h5>
                        </div>
                        <div class="description">
                            <p></p>
                            <p> </p>
                        </div>
                        <div class="col-sm-12">
                         <!--     <div class="btn btn-md">
                                 <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown">Data Sheet PDF</a>
              <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="product-separate"></div>
            </div>

        
        </div>        
    </div>
   
</section>