@{
    ViewBag.Title = "Resin8 Epoxy Systems";
}

<!--<section id="call-to-action" class="no-pad">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-margin-10 text-center white" data-animation="pulse">
                <h3 class="title">Innovative Resin Systems</h3>
            </div>
        </div>
    </div>
</section>-->
<section id="about-us" class="page-section"> 
     <!--   <div class="container">
            <div class="row">
                <div class="col-md-12 top-pad-40 bottom-pad-20 text-center white bg-color" data-animation="pulse">
                    <h3></h3>
                </div>
            </div>
        </div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-title" data-animation="fadeInUp">
                    <h2 class="text-center title">Our Story</h2>
                </div>                           
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pad-60" data-animation="fadeInLeft">
           <!--    <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title">Our Story</h2>
                </div>-->
                <div class="owl-carousel pagination-1 dark-switch" data-pagination="true" data-autoplay="true"
                     data-navigation="false" data-singleitem="true">
                    <div class="item">
                        <div class="about-us">
                            <!-- Progress Bar 1 -->
                            <h2 class="entry-title">
                                <a href="#">Resin8 Strengths</a>
                            </h2>
                            <h6>Built-in Resiliency - 18% Epoxy Elongation</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 2 -->
                            <h6>High Chemical Resistivity to Harsh Chemicals</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 3 -->
                            <h6>VERY LOW VOC- Low Odor, Solvent Free</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 4 -->
                            <h6>User Friendly- soap and water cleanup</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 5 -->
                            <h6>Variable Set Times</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 6 -->
                            <h6>Excellent Adhesion to most surfaces</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 7 -->
                            <h6>Thermal Durability- Cold, Steam, Long Term Resiliency</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 8 -->
                            <h6>Self-Priming, even to Green Concrete</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                     <div class="item">
                        <!-- Heading -->
                        <h2 class="entry-title">
                            <a href="#">Our Experience</a>
                        </h2>
                        <!-- Content -->
                        <div class="entry-content">
                            <p>
                               For 50 years, we have tested existing epoxy formulas and formulating resins that are proven over time to withstand the corrosive chemicals that attach resin coatings. </p>
                            <p>
                                Today, chemicals are more corrosive. Floors are contaminated, not only by species agents, but also by human agents.     
                                When coating a floor, it is IMPORTANT to consider protecting both the design of the floor and features, like the pump in the floor, as well.</p>
                             <p>50 years. We know what formulated epoxy works through modifying the formula. We know what lasts.       
                            </p>
                            
                        </div>
                    </div>
                    <div class="item">
                        <!-- Heading -->
                        <h2 class="entry-title">
                            <a href="#">Our Difference</a>
                        </h2>
                        <!-- Content -->
                        <div class="entry-content">
                            <p> Contractors working with Heavy Industrial Equipment choose our formulated epoxy systems for their strengths.
                                Fortune 500 Corporations and Federal Government Agencies have used our products when they want the resiliency and protection of our proven Epoxy Strengths. </p>                          
                                <ol>
                                    <li>Faster setting times and better curing times</li>
                                    <li>Coating that doesn't crack over time</li>
                                    <li>Self priming coating that goes over green cement</li>
                                    <li>No enviornmental issues- water cleanable</li>
                                    <li>No VOC</li>
                                    <li>CIPP products</li>
                                </ol>
                                                       
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 no-pad text-center" data-animation="fadeInRight">
                <div class="image-bg img-responsive" data-background="../img/resin8/autoCaulk.jpg"></div>
            </div>
        </div>       
    </div>
</section>
<!--
<section id="strengths" class="page-section light-bg">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <h2 class="title">Product Strengths</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#products">
                      
                        <img src="../img/resin8/pipe.jpg" alt="" width="400" height="273" />
               
                        <h5 class="title tb-margin-10">CIPP Pipe Lining</h5>
                        
                        <div>
                            When lining tanks or manholes...
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                      
                        <img src="../img/resin8/crack.jpg" alt="" width="400" height="273" />
                       
                        <h5 class="title tb-margin-10">Antimicrobial</h5>
                      
                        <div>
                            If the floors crack, bacteria can grow in those cracks, thereby contaminating the food, neat, and beverage produced in that plant. 
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
            
                        <img src="../img/resin8/outdoor.jpg" alt="" width="400" height="273" />
                      
                        <h5 class="title tb-margin-10">Elongated </h5>
                       
                        <div>
                            The extreme elongation of our Resin8 product is the best in the industry.  Heavy equipment and heavy traffic over the years, 
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        
                        <img src="../img/resin8/manhole.jpg" alt="" width="400" height="273" />
                      
                        <h5 class="title tb-margin-10">Corrosion Protection</h5>
                        
                        <div>
                            Our CIPP pipe lining system protects the pipe corrosion from the liquid that passes thru.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        
                        <img src="../img/resin8/school.jpg" alt="" width="400" height="273" />
                       
                        <h5 class="title tb-margin-10">No-Primer Needed</h5>
                      
                        <div>
                            The benefits of removing the traditional priming application and drying time is huge for contractors, who are applying floor coatins to green concrete are huge!
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                     
                        <img src="../img/resin8/outdoor.jpg" alt="" width="400" height="273" />
                        
                        <h5 class="title tb-margin-10">Water Cleanable</h5>
                        
                        <div>
                            Contractors working contineously with epoxy resin chemicals, appreciate the ability to use soap and water to clean thier hands instead of chemicals to clean.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                      
                        <img src="../img/resin8/manhole.jpg" alt="" width="400" height="273" />
                      
                        <h5 class="title tb-margin-10">Manhole Protection</h5>
                     
                        <div>
                            Maintenance and repair of manholes is a daunting necessity.  using Resin8.....
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>-->

<section id="markets" class="page-section">
    <div class="image-bg content-in fixed" data-background="../img/resin8/school_floor.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <h2 class="title">Our Markets</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Markets</li>
                <li class="filter" data-filter=".coat">Coatings</li><!--brown-->
                <li class="filter" data-filter=".floor">Floors</li><!--red-->
                <li class="filter" data-filter=".primer">Primers</li><!--grey-->
                <li class="filter" data-filter=".liner">Liners</li><!--green-->
                <li class="filter" data-filter=".grout">Grouts</li><!--blue-->
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- #4000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4000" class="scroll">
                <div class="grid bg-green">
                    <img src="../img/resin8/tankliner.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Train Tank Car Lining</h4>
                            <p>CIPP Industry Pipe Lining System</p>
                            <p class="small">ResCIPP #4000</p>
                        </div>                       
                    </div>
                </div>
            </a>
        </div>
        <!-- #3001 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all primer">
            <a href="#3001" class="scroll">
                <div class="grid bg-grey">
                    <img src="../img/resin8/wtroof.jpg" width="400" height="273" alt="ResRoof" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Commercial Flat Roof</h4>
                            <p>Roofing Primer</p>
                            <p class="small">ResRoof #3001</p>
                        </div>                       
                    </div>
                </div>
            </a>
        </div>
        <!-- #1000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1000" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/cleanPlant.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Floors and Walls</h4>
                            <p>100% Epoxy Coating for floors and walls</p>
                            <p class="small">ResCoat #1000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #4004 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4004" class="scroll">
                <div class="grid bg-green">
                    <img src="../img/resin8/manhole.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Manhole Interior Lining</h4>
                            <p>Manhole Liner System</p>
                            <p class="small">ResLiner-MH #4004</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <!-- #5006 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all grout">
            <a href="#5006" class="scroll">
                <div class="grid bg-blue">
                    <img src="../img/resin8/crack.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Floors and Walls</h4>
                            <p>Gel Based Filler</p>
                            <p class="small">ResGel #5006</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #1002 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1002" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/plant-01.jpg" width="400" height="273" alt="Resin8 floor" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Floors and Walls</h4>
                            <p>Water Based Clear Sealer for Smooth/Decorative Concrete</p>
                            <p class="small">ResHydroSeal #1002</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #2002 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all floor">
            <a href="#2002" class="scroll">
                <div class="grid bg-red">
                    <img src="../img/resin8/meatPlant.jpg" width="400" height="273" alt="Resin8 floor" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Meat Packing Plant</h4>
                            <p>Heavy Duty Self-Leveling Floor System</p>
                            <p class="small">ResFLoor-SL #2002</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #1005 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all coat">
            <a href="#1005" class="scroll">
                <div class="grid bg-brown">
                    <img src="../img/resin8/ibeam.jpg" width="400" height="273" alt="Steel I-beam Coating" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Steel I-Beams</h4>
                            <p>100% Epoxy Metal Tank Coating</p>
                            <p class="small">#1005 - ResTank</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- #5000 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all grout">
            <a href="#5000" class="scroll">
                <div class="grid bg-blue">
                    <img src="../img/resin8/pharmPlant.jpg" width="400" height="273" alt="Chemical Resistant Grout" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>Pharmaceutical Plants</h4>
                            <p>High Chemical Resistant Tile Grout/Adhesive</p>
                            <p class="small">ResGrout-HCR #5000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<section id="products" class="page-section">

    <div class="container shop">
        <div class="row">
            <div class="section-title" data-animation="fadeInUp">
                <h2 class="text-center title">Resin8 Products</h2>
            </div>
            <div class="col-sm-12 col-md-9 product-page">
                <!--#1000ResCoat-->
                <div class="row top-margin-60" id="1000">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" >
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCoat #1000</h4>
                                <h5 class="text-color">100% Epoxy Coating for floors and walls</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>100% Epoxy Coating for floors and walls</h4>
                            <h5 class="text-color">ResCoat #1000 </h5>
                        </div>
                        <div class="description">
                            <p>A highly resilient, 100% solids Epoxy Coating product for Concrete or Metals, that exhibit excellent adhesion and high Flexural properties.  This coating meets the toughest VOC requirements and is water cleanable, making it extremely user friendly.</p>
                            <p></p>
                        </div>
                        <!--        <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1002 ResHydraCoat-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResHydraCoat #1002 </h4>
                                <h5 class="text-color">Water based epoxy coating for floors and walls</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water based epoxy coating for floors and walls</h4>
                            <h5 class="text-color">ResHydraCoat #1002 </h5>
                        </div>
                        <div class="description">
                            <p>A highly resilient, Water-Based Epoxy Coating product for Concrete or Metals, that exhibit excellent adhesion and high Flexural properties.  This coating meets the toughest VOC requirements and is water cleanable, making it extremely user friendly.  </p>
                            <p></p>
                        </div>
                        <!--     <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1004 ResHydroSeal-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1001">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResHydroSeal #1004 </h4>
                                <h5 class="text-color">Water Based Clear Sealer for Smooth/Decorative Concrete </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water Based Clear Sealer for Smooth/Decorative Concrete </h4>
                            <h5 class="text-color">ResHydroSeal #1004 </h5>
                        </div>
                        <div class="description">
                            <p>A VOC safe and easy to install Water Based Epoxy for Clear-TopCoat applications over smooth or decorative concrete. Provides a fast setting, thin, and highly resilient top coat. </p>
                            <p></p>
                        </div>
                        <!--      <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1005 ResTank-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1005">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResTank #1005 </h4>
                                <h5 class="text-color">100% Epoxy Metal Tank Coating</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>100% Epoxy Metal Tank Coating</h4>
                            <h5 class="text-color">ResTank #1005 </h5>
                        </div>
                        <div class="description">
                            <p>A resilient, chemically resistant 100% solids Epoxy Coating.  </p>
                            <p><b>Metal Coating Applications.</b> Steel I-Beams. Railcars. Metal Pipes and Tanks. Steel Decking.</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-brown">Data Sheet PDF</a>
                               <!-- <a href="~/img/pdf/TDSRestank1005Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>-->
                            </div>
                        </div>
                     
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#1006 ResTank-NV-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-brown text-center" id="1006">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBrown.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResTank-NV #1006 </h4>
                                <h5 class="text-color">Novalac Tank Lining System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Novalac Tank Lining System</h4>
                            <h5 class="text-color">ResTank-NV #1006 </h5>
                        </div>
                        <div class="description">
                            <p>  </p>
                            <p></p>
                        </div>
                        <!--    <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#2000 ResFloor-TL30-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-red text-center" id="2000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoRed.png" alt="" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResFloor-TL30 #2000 </h4>
                                <h5 class="text-color">Heavy Duty Trowelable Commercial Floor System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Heavy Duty Trowelable Commercial Floor System</h4>
                            <h5 class="text-color">ResFloor-TL30 #2000 </h5>
                        </div>
                        <div class="description">
                            <p>A heavy duty, Trowel applied 100% solids Epoxy floor system, designed with extremely high resiliency to meet the demanding conditions found in the food, beverage, pharmaceutical, and industrial plants. This floor system meets FDA requirements, have low VOCs, and meet stringent ASTM C884 Thermal standards.  </p>
                            <p></p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                              <!--    <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn bg-red">Data Sheet PDF</a>-->
                               <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div>
                        </div>   
                    </div>
                </div>
                <div class="product-separate"><hr /></div>


                <!--#2002 ResFloor-SL-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-red text-center" id="2002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoRed.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResFloor-SL #2002 </h4>
                                <h5 class="text-color">Heavy Duty Self-Leveling Floor System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Heavy Duty Self-Leveling Floor System</h4>
                            <h5 class="text-color">ResFloor-SL #2002 </h5>
                        </div>
                        <div class="description">
                            <p>Res-Floor-SL30 is a Self-Leveling, Time Saving System with a 30-40 Min Pot Life that will Set up for Foot Traffic within 4 Hrs(73ºF). A heavy duty, Self-Leveling/Self-Priming 100% solids Epoxy floor system, designed with extremely high resiliency to meet the demanding conditions found in the food, beverage, pharmaceutical, and industrial plants. This floor system meets FDA requirements, have low VOCs, and meet stringent ASTM C884 Thermal standards.   </p>
                            <p><b>Best use applications.</b> Breweries. Food and Beverage Plants. Dairies. Pharmaceutical. Meat Packing. Poultry. Heavy Industrial. </p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <a href="~/img/pdf/TDSResFloor-SL2002-Mar16.pdf" class="btn bg-red">Data Sheet PDF</a>
                               <a href="~/img/pdf/Resin8SDSResFloor-SL2002Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="product-separate"><hr /></div>


                <!--#3000 ResPrime-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-grey text-center" id="3000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGrey.png" alt="Resin8logo ResPrimer" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResPrime #3000 </h4>
                                <h5 class="text-color">100% Epoxy Green Concrete Primer and All-Purpose</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>100% Epoxy Green Concrete Primer and All-Purpose</h4>
                            <h5 class="text-color">ResPrime #3000 </h5>
                        </div>
                        <div class="description">
                            <p>A 100% Solids Epoxy GREEN CONCRETE and ALL-PURPOSE primer, extremely resilient with excellent moisture resistivity, that can be used as a base coat below our Epoxy ResFloor-TL/SL Floor Systems. </p>
                            <p></p>
                        </div>
                        <div class="col-sm-12">
                            <!--  <div class="btn btn-md">
                            <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn btn-default">Data Sheet PDF</a>
                            <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
                            </div> -->
                    </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#3001 ResRoof-->
                <div class="row top-margin-60" id="3001">                   
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-grey text-center">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGrey.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResRoof #3001 </h4>
                                <h5 class="text-color">Roofing Primer </h5>
                            </div>
                        </div> 
                        </div>                 
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Roofing Primer </h4>
                            <h5 class="text-color">ResRoof #3001 </h5>
                        </div>
                        <div class="description">
                            <p>A very low VOC, Water Based Epoxy roof primer which exhibits exceptional adhesion to; Bitumen, Asphalt, EPDM, Metal, PVC and Other Roof substrates. </p>
                            <p>Best uses ......Commercial flat roof applications that require a spray or roller applied top coat.</p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">         
                             <!--   <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-grey">Data Sheet PDF</a>-->
                                <a href="~/img/pdf/Resin8-SDS-ResRoof3001Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a> </div>
                        </div>
                      </div> 
               
                    </div>
                <div class="product-separate"><hr /></div>

                <!--#4000 ResCIPP-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-green text-center" id="4000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGreen.png" alt="" width="265" height="276" class="img-responsive img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCIPP #4000 </h4>
                                <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>CIPP Industry Pipe Lining System</h4>
                            <h5 class="text-color">ResCIPP #4000</h5>
                        </div>
                        <div class="description">
                            <p>A very low VOC, Safe and easy to use Epoxy Resin, designed for Cured-in-Place Pipe (CIPP) applications. This water cleanable solution offers fast set times, zero environmental impact, and the ability to rapid cure at ambient temperatures.</p>
                         <!--  <p><b>Best uses.</b>Pipes </p>--> 
                        </div>
                        <!--    <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#4002 ResLiner-CS-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-green text-center" id="4002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGreen.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResLiner-CS #4002 </h4>
                                <h5 class="text-color">Manhole Chimney Seal System </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Manhole Chimney Seal System</h4>
                            <h5 class="text-color">ResLiner-CS #4002 </h5>
                        </div>
                        <div class="description">
                            <p>A highly stable, flexible, and moisture tolerant Epoxy Hybrid liner for manhole chimney seal applications.  Application using a trowel is simple, minimal prep required, and performs well in harsh environments.  </p>
                            <p>Best uses. Manholes.</p>
                        </div>
                        <!--  <div class="btn btn-md">
        <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn btn-default">Data Sheet PDF</a>
        <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
        </div> -->

                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#4004 ResLiner-MH-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-green text-center" id="4004">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoGreen.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResLiner-MH #4004 </h4>
                                <h5 class="text-color">Manhole Liner System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Manhole Liner System</h4>
                            <h5 class="text-color">ResLiner-MH #4004 </h5>
                        </div>
                        <div class="description">
                            <p>A resilient trowel applied, non-sagging, Epoxy liner solution for encapsulating manhole barrels and benches.  This trowel applied flexible material performs excellent in harsh environments, sets within 3 hours, and bonds to wet brick and concrete. </p>
                            <p></p>
                        </div>
                        <!--  <div class="btn btn-md">
        <a href="~/img/pdf/TDSRes-Floor-SL2001-Mar16.pdf" class="btn btn-default">Data Sheet PDF</a>
        <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>
        </div> -->

                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#5000 ResGrout-HCR-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5000">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResGrout-HCR #5000 </h4>
                                <h5 class="text-color">High Chemical resistant Tile Grout/Adhesive</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>High Chemical resistant Tile Grout/Adhesive</h4>
                            <h5 class="text-color">ResGrout-HCR #5000 </h5>
                        </div>
                        <div class="description">
                            <p>Res-Grout-HCR is a unique, versatile, resilient, multi-purpose tile grout/adhesive; with excellent chemical resistance, and early development of Physical Properties. A resilient "Water Wipeable" Epoxy Grout for tile grout applications that require durability and flexibility over time. Product maintains flexibility at low temperatures, and can be steam cleaned and power washed.</p>
                            <p><span class="bold">Best Applications. Breweries. Food and Beverage Plants. Dairies. Pharmaceutical. Meat Packing/Processing. Poultry. Heavy Industrial. </span> </p>
                        </div>
                        <div class="col-sm-12">
                            <div class="btn btn-md">
                                <a href="~/img/pdf/TDSResGrout-HCR5000-Mar16.pdf" class="btn bg-blue">Data Sheet PDF</a>
                                <!--  <a href="~/img/pdf/Resin8SDSRes-FloorTL302000Mar16.pdf" class="btn bg-tan">Safety Data Sheet PDF</a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#5002 ResGrout-WW-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5002">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResGrout-WW #5002 </h4>
                                <h5 class="text-color">Water Wipeable Epoxy Grout System</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Water Wipeable Epoxy Grout System</h4>
                            <h5 class="text-color">ResGrout-WW #5002 </h5>
                        </div>
                        <div class="description">
                            <p>A resilient Epoxy Grout System for applications that require durability and flexibility over time. Product maintains flexibility at low temperatures. </p>
                            <p></p>
                        </div>
                        <!--      <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#5004 ResCaulk-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-cente" id="5004">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCaulk #5004 </h4>
                                <h5 class="text-color">Flexible joint filler for expansion joints</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Flexible joint filler for expansion joints</h4>
                            <h5 class="text-color">ResCrack-Standard #5004 </h5>
                        </div>
                        <div class="description">
                            <p></p>
                            <p> </p>
                        </div>
                        <!--     <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"><hr /></div>

                <!--#5006 ResGel-->
                <div class="row top-margin-60">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item bg-blue text-center" id="5006">
                            <div class="product-img pad-30">
                                <img src="../img/resin8/resin8-logoBlue.png" alt="Resin8 logo" width="265" height="276" class="img-responsive  img-center" />
                            </div>
                            <div class="product-details">
                                <h4>ResCrack-Gel #5006 </h4>
                                <h5 class="text-color">Gel Based Filler</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h4>Gel Based Filler</h4>
                            <h5 class="text-color">ResGel #5006 </h5>
                        </div>
                        <div class="description">
                            <p></p>
                            <p> </p>
                        </div>
                        <!--    <div class="col-sm-6">
                            <h6>Data Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="Data Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6>MSDS Sheets</h6>
                            <div class="btn-group btn-group-md" role="group" aria-label="MSDS Sheets">
                                <a href="#" class="btn btn-default">View</a>
                                <a href="#" class="btn btn-green">Download</a>
                            </div>
                        </div>-->
                    </div>
                </div>
                <div class="product-separate"></div>
            </div>

            <!--    <div class="sidebar col-sm-12 col-md-3">

                    <div class="widget">
                        <div class="widget-title">
                            <h3 class="title">Filter By Category</h3>
                        </div>
                        <div id="MainMenu2">
                            <div class="list-group panel">
                                <div class="collapse in" id="demo3">
                                    <a href="#1" class="list-group-item" data-toggle="collapse" data-parent="#1">
                                        Floor
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="1">
                                        <a href="#1000" class="list-group-item" data-parent="#1">Food Plant</a>
                                        <a href="#" class="list-group-item" data-parent="#1">Beverage Plant</a>
                                    </div>
                                    <a href="#2" class="list-group-item" data-toggle="collapse" data-parent="#2">
                                        Liner
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="2">
                                        <a href="#4000" class="list-group-item" data-parent="#2">Pipe Liner</a>
                                        <a href="#" class="list-group-item" data-parent="#2">Tank Cars</a>
                                        <a href="#" class="list-group-item" data-parent="#2">Manhole</a>
                                    </div>
                                    <a href="#3" class="list-group-item" data-toggle="collapse" data-parent="#3">
                                        Crack Filler
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="3">
                                        <a href="#" class="list-group-item" data-parent="#3">Flexible</a>
                                        <a href="#" class="list-group-item" data-parent="#3">Standard</a>
                                        <a href="#" class="list-group-item" data-parent="#3">Gel based</a>
                                    </div>
                                    <a href="#4" class="list-group-item" data-toggle="collapse" data-parent="#4">
                                        Sealer
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="4">
                                        <a href="#1002" class="list-group-item" data-parent="#4">Smooth / Decorative</a>
                                        <a href="#" class="list-group-item" data-parent="#4">Manhole Chimney Seal</a>
                                    </div>
                                    <a href="#5" class="list-group-item" data-toggle="collapse" data-parent="#5">
                                        Grout
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="5">
                                        <a href="#" class="list-group-item" data-parent="#5">Water wipeable</a>
                                    </div>
                                    <a href="#6" class="list-group-item" data-toggle="collapse" data-parent="#6">
                                        Green Concrete Primer
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="6">
                                        <a href="#" class="list-group-item" data-parent="#6"> Water based</a>
                                    </div>
                                    <a href="#7" class="list-group-item" data-toggle="collapse" data-parent="#7">
                                        Primer
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="7">
                                        <a href="#" class="list-group-item" data-parent="#7">Roof Primer</a>
                                        <a href="#" class="list-group-item" data-parent="#7">Epoxy Green Concrete Primer / All-Purpose</a>
                                        <a href="#" class="list-group-item" data-parent="#7">Water Based Green Concrete Primer</a>
                                    </div>
                                    <a href="#8" class="list-group-item" data-toggle="collapse" data-parent="#7">
                                        Grout
                                        <i class="fa fa-caret-down"></i>
                                    </a>
                                    <div class="collapse list-group-submenu" id="7">
                                        <a href="#" class="list-group-item" data-parent="#7">Water wipeable</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

</section>