@{
    ViewBag.Title = "Resin8 Coating";
}

<section id="call-to-action" class="page-section no-pad bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-pad-30 bottom-pad-20 text-center white" data-animation="pulse">
                <h3>30+ years. Elongated Resilience.</h3>
            </div>
        </div>
    </div>
</section>
<section id="about-us" class="page-section"> 
     <!--   <div class="container">
            <div class="row">
                <div class="col-md-12 top-pad-40 bottom-pad-20 text-center white bg-color" data-animation="pulse">
                    <h3></h3>
                </div>
            </div>
        </div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="section-title" data-animation="fadeInUp">
                    <h2 class="text-center title">Resin-8 Strengths</h2>
                </div>                           
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 pad-60" data-animation="fadeInLeft">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <h2 class="title">Our Story</h2>
                </div>
                <div class="owl-carousel pagination-1 dark-switch" data-pagination="true" data-autoplay="true"
                     data-navigation="false" data-singleitem="true">
                    <div class="item">
                        <div class="about-us">
                            <!-- Progress Bar 1 -->
                            <h6>faster Setting and Curing Times -less than 3 hours</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 2 -->
                            <h6>High Chemical Elongation - industry's best</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 3 -->
                            <h6>Backed by ASTM testing</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 4 -->
                            <h6>Custom Solutions Available</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 5 -->
                            <h6>faster Setting and Curing Times -less than 3 hours</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 6 -->
                            <h6>High Chemical Elongation - industry's best</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 7 -->
                            <h6>Backed by ASTM testing</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                            <!-- Progress Bar 8 -->
                            <h6>Custom Solutions Available</h6>
                            <div class="progress">
                                <div data-percentage="100" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100"
                                     role="progressbar" class="progress-bar">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                     <div class="item">
                        <!-- Heading -->
                        <h2 class="entry-title">
                            <a href="#">Our Chemist</a>
                        </h2>
                        <!-- Content -->
                        <div class="entry-content">
                            <p>
                               Ralph Sacks, our chemist, is the reason...
                            </p>
                            <p>
                                Quibusdam commodi laboriosam error temporibus iste ipsa soluta distinctio maiores ad totam
                                beatae incidunt veritatis enim? Reiciendis voluptate assumenda quidem eos explicabo rerum.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <!-- Heading -->
                        <h2 class="entry-title">
                            <a href="#">Our Strengths</a>
                        </h2>
                        <!-- Content -->
                        <div class="entry-content">
                            <p>
                                faster fast setting  less that 3 hours “ better curing times”   “fast set times”   corro 8 hrs.  r8 resillient c= 8% r8= elongation industries best  commercial flooring ¼” thick food bacteria in crack  doesn’t crack
                                * “highly resillient sticky to everything - self priming my coating so good skip primer “  our coating go right over green concrete.  great bonding great resilliency ,
                                * embedded in Blue Chip companies
                                * 2 cheaper Not us
                                * 3 no envionrnmentl issues  r8 don’t smell water cleanable
                                * VOC  R8 no VOC in paint thinner.
                                * CIPP products  R8
                                * 
                            </p>
                            <p>
                                other need solvent to clean, r8 soap and water   pipe liners important. California compliant
                              </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 no-pad text-center" data-animation="fadeInRight">
                <!-- Image -->
                <div class="image-bg" data-background="../img/resin8/roof.jpg"></div>
            </div>
        </div>       
    </div>
</section>
<!--<section id="call-to-action" class="page-section no-pad bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-pad-40 bottom-pad-20 text-center white" data-animation="pulse">
                <h3>Why Contrators Choose Resin8</h3>
            </div>
        </div>
    </div>
</section>
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30">
                <img src="../img/resin8/pipe.jpg" width="280" height="440" alt="" />
            </div>
            <div class="col-md-8">
                <div data-animation="fadeInUp">
                    <p>
                        QUALITY/RESILIENCY
                        * Providing custom solutions for … sample:  Meat plant not aggrevate me everyday, fine bacteria growing in cracks lactic acid in floor.  RS floors that laid 20 yrs ago.
                        * No 1 coating solutions for Fortune 50 Handling toughest application
                        * food implies safe
                    </p>
                    <p>Chemist sits on board for ASTM testing
                    </p>
                    <p>for … sample:  Meat plant not aggrevate me everyday, fine bacteria growing in cracks lactic acid in floor.  High traffic Food plant floors that laid 20 yrs ago, due to our top industry resilience for heavy machines, has not cracked or chipped.  </p>
                </div>
             <div class="row responsive-features top-pad-20">
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <span class="icon-refresh2 text-color"></span>
                        <h5>CIPP Products</h5>
                        <p>Tested by Resin8 for compliance</p>
                    </div>
                    <div class="col-md-4" data-animation="fadeInUp">
                        <span class="icon-settings3 text-color"></span>
                        <h5>Self Priming Prudocts</h5>
                        <p>Illiminate additional priming application and drying time</p>
                    </div>   
                    <div class="col-md-4" data-animation="fadeInRight">
                        <span class="icon-invert-colors text-color"></span>
                        <h5>Water Cleanable</h5>
                        <p>Wash your hands with soap and water</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>-->
<section id="benefits" class="page-section light-bg">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Product Benefits</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#products">
                        <!-- image -->
                        <img src="../img/resin8/pipe.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">CIPP Pipe Lining</h5>
                        <!-- Text -->
                        <div>
                            When lining tanks or manholes...
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/resin8/crack.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Antimicrobial</h5>
                        <!-- Text -->
                        <div>
                            If the floors crack, bacteria can grow in those cracks, thereby contaminating the food, neat, and beverage produced in that plant. 

                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/resin8/outdoor.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Elongated </h5>
                        <!-- Text -->
                        <div>
                            The extreme elongation of our Resin8 product is the best in the industry.  Heavy equipment and heavy traffic over the years, 
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/resin8/manhole.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Corrosion Protection</h5>
                        <!-- Text -->
                        <div>
                            Our CIPP pipe lining system protects the pipe corrosion from the liquid that passes thru.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/resin8/school.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">No-Primer Needed</h5>
                        <!-- Text -->
                        <div>
                            The benefits of removing the traditional priming application and drying time is huge for contractors, who are applying floor coatins to green concrete are huge!
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/resin8/outdoor.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Water Cleanable</h5>
                        <!-- Text -->
                        <div>
                            Contractors working contineously with epoxy resin chemicals, appreciate the ability to use soap and water to clean thier hands instead of chemicals to clean.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/resin8/manhole.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Manhole Protection</h5>
                        <!-- Text -->
                        <div>
                            Maintenance and repair of manholes is a daunting necessity.  using Resin8.....
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<section id="markets" class="page-section">
    <div class="image-bg content-in fixed" data-background="../img/resin8/school_floor.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Our Markets</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Markets</li>
                <li class="filter" data-filter=".floor">Floors</li>
                <li class="filter" data-filter=".liner">Liners</li>
                <li class="filter" data-filter=".crack">Cracks</li>
                <li class="filter" data-filter=".grout">Grout</li>
                <li class="filter" data-filter=".seal">Seal</li>
                <li class="filter" data-filter=".roof">Roof</li>
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- Item 1 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4000" class="scroll">
                <div class="grid">
                    <img src="../img/resin8/pipe.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>ResCIPP</h4>
                            <p>CIPP Industry Pipe Lining System</p>
                            <p class="small">#4000</p>
                        </div>                       
                    </div>
                </div>
            </a>
        </div>
        <!-- Item 2 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4002" class="scroll">
                <div class="grid">
                    <img src="../img/resin8/manhole.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>ResLiner-MH</h4>
                            <p>Manhole Liner System</p>
                            <p class="small">#4002</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Item 3 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <a href="#4001" class="scroll">
                <div class="grid">
                    <img src="../img/resin8/roof.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>ResLiner-CS</h4>
                            <p>Manhole Chimney Seal System</p>
                            <p class="small">#4001</p>
                        </div>                       
                </div>
            </div>
        </a>
    </div>
        <!-- Item 4 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all floor">
            <a href="#1000" class="scroll">
                <div class="grid">
                    <img src="../img/resin8/outdoor.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>ResCoat</h4>
                            <p>100% Epoxy Coating for floors and walls</p>
                            <p class="small">#1000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Item 5 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all crack">
            <a href="#6000" class="scroll">
                <div class="grid">
                    <img src="../img/resin8/crack.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>ResCrack-Flexible</h4>
                            <p>Flexible Crack Filler</p>
                            <p class="small">#6000</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!-- Item 6 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all seal">
            <a href="#1001" class="scroll">
                <div class="grid">
                    <img src="../img/resin8/school.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                    <div class="figcaption">
                        <div class="caption-block">
                            <h4>ResHydroSeal</h4>
                            <p>Water Based Clear Sealer for Smooth/Decorative Concrete</p>
                            <p class="small">#1001</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </div>
</section>
<!-- downloads -->
<section id="products"class="page-section top-margin-50">
    <div class="container shop">
        <div class="row">
            <div class="col-sm-12 col-md-9 product-page">
                <div class="row top-margin-120" id="4000">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item" >
                            <div class="product-img">
                                <img src="../img/resin8/res-coat-01.png" alt="" width="265" height="276" class="img-responsive"/>
                                <div class="product-overlay"> </div>
                            </div>
                            <div class="product-details">
                                <h4>#4000 ResCIPP</h4>
                                <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h3>ResCIPP</h3>
                            <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                        </div>
                        <div class="description">
                            <p>Description of Resin8 ..........product Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Best uses of Resin8 product.......Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        
                        <div class="col-sm-6">
                           <h5>Data Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div> 
                        <div class="col-sm-6">
                            <h5>MSDS Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>  
                    </div>
                </div>
                <div class="product-separate"><hr /></div>
                
                <div class="row top-margin-120">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item" id="1000">
                            <div class="product-img">
                                <img src="../img/resin8/res-coat-01.png" alt="" width="265" height="276" class="img-responsive" />
                                <div class="product-overlay"> </div>
                            </div>
                            <div class="product-details">
                                <h4>ResCoat</h4>
                                <h5 class="text-color">100% Epoxy Coating for floors and walls</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h3>#1000 ResCoat</h3>
                            <h5 class="text-color">100% Epoxy Coating for floors and walls</h5>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>

                        <div class="col-sm-6">
                            <h5>Data Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>
                        <div class="col-sm-6">
                            <h5>MSDS Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>
                        <div class="product-separate hr"></div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>
               
                 <div class="row top-margin-120">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item top-pad-80" id="1001">
                            <div class="product-img">
                                <img src="../img/resin8/res-coat-01.png" alt="" width="265" height="276" class="img-responsive" />
                                <div class="product-overlay"> </div>
                            </div>
                            <div class="product-details">
                                <h4>#1002 ResHydroSeal</h4>
                                <h5 class="text-color">Water Based Clear Sealer for Smooth/Decorative Concrete </h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h3>ResHydroSeal</h3>
                            <h5 class="text-color">Water Based Clear Sealer for Smooth/Decorative Concrete </h5>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>

                        <div class="col-sm-6">
                            <h5>Data Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>
                        <div class="col-sm-6">
                            <h5>MSDS Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>
                        <div class="product-separate hr"></div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>



            </div>
            <div class="sidebar col-sm-12 col-md-3">
              
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Filter By Category</h3>
                    </div>
                    <div id="MainMenu2">
                        <div class="list-group panel">
                            <div class="collapse in" id="demo3">
                                <a href="#1" class="list-group-item" data-toggle="collapse" data-parent="#1">
                                    Floor
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="1">
                                    <a href="#1000" class="list-group-item" data-parent="#1">Food Plant</a>
                                    <a href="#" class="list-group-item" data-parent="#1">Beverage Plant</a>
                                </div>
                                <a href="#2" class="list-group-item" data-toggle="collapse" data-parent="#2">
                                    Liner
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="2">
                                    <a href="#4000" class="list-group-item" data-parent="#2">Pipe Liner</a>
                                    <a href="#" class="list-group-item" data-parent="#2">Tank Cars</a>
                                    <a href="#" class="list-group-item" data-parent="#2">Manhole</a>
                                </div>
                                <a href="#3" class="list-group-item" data-toggle="collapse" data-parent="#3">
                                    Crack Filler
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="3">
                                    <a href="#" class="list-group-item" data-parent="#3">Flexible</a>
                                    <a href="#" class="list-group-item" data-parent="#3">Standard</a>
                                    <a href="#" class="list-group-item" data-parent="#3">Gel based</a>
                                </div>
                                <a href="#4" class="list-group-item" data-toggle="collapse" data-parent="#4">
                                    Sealer
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="4">
                                    <a href="#1002" class="list-group-item" data-parent="#4">Smooth / Decorative</a>
                                    <a href="#" class="list-group-item" data-parent="#4">Manhole Chimney Seal</a>
                                </div>
                                <a href="#5" class="list-group-item" data-toggle="collapse" data-parent="#5">
                                    Grout
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="5">
                                    <a href="#" class="list-group-item" data-parent="#5">Water wipeable</a>
                                </div>
                                <a href="#6" class="list-group-item" data-toggle="collapse" data-parent="#6">
                                   Green Concrete Primer
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="6">
                                    <a href="#" class="list-group-item" data-parent="#6"> Water based</a>
                                </div>
                                <a href="#7" class="list-group-item" data-toggle="collapse" data-parent="#7">
                                    Primer
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="7">
                                    <a href="#" class="list-group-item" data-parent="#7">Roof Primer</a>
                                    <a href="#" class="list-group-item" data-parent="#7">Epoxy Green Concrete Primer / All-Purpose</a>
                                    <a href="#" class="list-group-item" data-parent="#7">Water Based Green Concrete Primer</a>
                                </div>
                                <a href="#8" class="list-group-item" data-toggle="collapse" data-parent="#7">
                                    Grout
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="7">
                                    <a href="#" class="list-group-item" data-parent="#7">Water wipeable</a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <!-- category-list -->
                </div>
               
            </div>
        </div>
    </div>
</section>