@{
    ViewBag.Title = "Resin8 Coating";
}


<section id="about-us" class="page-section">
    <section id="call-to-action" class="page-section no-pad bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12 top-pad-40 bottom-pad-20 text-center white" data-animation="pulse">
                    <h3>30+ years performance legacy</h3>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <!--  <div class="section-title" data-animation="fadeInUp">
                    <h2 class="text-center title">Our coating go right over green concrete!</h2>
                </div>-->
                <p class="text-center top-pad-20" data-animation="fadeInDown">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, quisquam, culpa, soluta
                    hic aperiam porro ipsum nisi optio necessitatibus commodi dolorum sapiente voluptatem officiis similique
                    maiores!
                </p>
            </div>
        </div>
        <div class="row text-left top-pad-50">
            <div class="col-sm-3 col-md-3 opacity" data-animation="fadeInLeft">
                <img width="500" height="319" class="bottom-pad-20" alt="" src="../img/sections/bg/book.jpg" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr class="bottom-margin-10" />
                <h4>Commercial Manufacturing</h4>
            </div>
            <div class="col-sm-3 col-md-3 opacity" data-animation="fadeInRight">
                <img width="500" height="319" class="bottom-pad-20" alt="" src="../img/sections/bg/book.jpg" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr class="bottom-margin-10" />
                <h4>Food & Beverage Plants</h4>
            </div>
            <div class="col-sm-3 col-md-3 opacity" data-animation="fadeInLeft">
                <img width="500" height="319" class="bottom-pad-20" alt="" src="../img/sections/bg/book.jpg" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr class="bottom-margin-10" />
                <h4>Contractors for Flooring and Roofing</h4>
            </div>
            <div class="col-sm-3 col-md-3 opacity" data-animation="fadeInRight">
                <img width="500" height="319" class="bottom-pad-20" alt="" src="../img/sections/bg/book.jpg" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dapibus facilisis cvallis.</p>
                <hr class="bottom-margin-10" />
                <h4>Tank Liners, Manholes</h4>
            </div>
        </div>
    </div>
</section>
<!-- about-us-->
<section id="story" class="page-section no-pad light-bg border-tb">
    <div class="container-fluid who-we-are">
        <div class="row">
            <div class="col-md-6 pad-60" data-animation="fadeInLeft">
                <div class="section-title text-left" data-animation="fadeInUp">
                    <!-- Title -->
                    <h2 class="title">Our Story</h2>
                </div>
                <div class="owl-carousel pagination-1 dark-switch" data-pagination="true" data-autoplay="true"
                     data-navigation="false" data-singleitem="true">
                    <div class="item">
                        <div class="about-us">
                            <!-- Progress Bar 1 -->
                            <h6>Proven Legacy</h6>
                            <div class="progress">
                                <div data-percentage="60" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60"
                                     role="progressbar" class="progress-bar">
                                    <span class="progress-label" style="left: 60%">60%</span>
                                </div>
                            </div>
                            <!-- Progress Bar 2 -->
                            <h6>High Chemical Resistivity</h6>
                            <div class="progress">
                                <div data-percentage="65" aria-valuemax="100" aria-valuemin="0" aria-valuenow="65"
                                     role="progressbar" class="progress-bar">
                                    <span class="progress-label" style="left: 65%">65%</span>
                                </div>
                            </div>
                            <!-- Progress Bar 3 -->
                            <h6>Backed by ASTM testing</h6>
                            <div class="progress">
                                <div data-percentage="80" aria-valuemax="100" aria-valuemin="0" aria-valuenow="80"
                                     role="progressbar" class="progress-bar">
                                    <span class="progress-label" style="left: 80%">80%</span>
                                </div>
                            </div>
                            <!-- Progress Bar 4 -->
                            <h6>Custom Solutions Available</h6>
                            <div class="progress">
                                <div data-percentage="70" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70"
                                     role="progressbar" class="progress-bar">
                                    <span class="progress-label" style="left: 70%">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <!-- Heading -->
                        <h2 class="entry-title">
                            <a href="#">Our Chemist</a>
                        </h2>
                        <!-- Content -->
                        <div class="entry-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere earum quis ipsa
                                vitae qui minima esse ducimus dolorum iste nisi laborum repellat dolores dolore debitis
                                adipisci nemo quia autem pariatur a voluptatem dignissimos maiores accusantium nobis tempora
                                consequatur cumque quas ea doloribus deleniti.
                            </p>
                            <p>
                                Quibusdam commodi laboriosam error temporibus iste ipsa soluta distinctio maiores ad totam
                                beatae incidunt veritatis enim? Reiciendis voluptate assumenda quidem eos explicabo rerum.
                            </p>
                        </div>
                    </div>
                    <div class="item">
                        <!-- Heading -->
                        <h2 class="entry-title">
                            <a href="#">Our following</a>
                        </h2>
                        <!-- Content -->
                        <div class="entry-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi facere earum quis ipsa
                                vitae qui minima esse ducimus dolorum iste nisi laborum repellat dolores dolore debitis
                                adipisci nemo quia autem pariatur a voluptatem dignissimos maiores accusantium nobis tempora
                                consequatur cumque quas ea doloribus deleniti.
                            </p>
                            <p>
                                Quibusdam commodi laboriosam error temporibus iste ipsa soluta distinctio maiores ad totam
                                beatae incidunt veritatis enim? Reiciendis voluptate assumenda quidem eos explicabo rerum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 no-pad text-center" data-animation="fadeInRight">
                <!-- Image -->
                <div class="image-bg" data-background="../img/sections/bg/book.jpg"></div>
            </div>
        </div>
    </div>
</section>

<section id="call-to-action" class="page-section no-pad bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-12 top-pad-40 bottom-pad-20 text-center white" data-animation="pulse">
                <h3>Why Contrators Choose Resin8</h3>
            </div>
        </div>
    </div>
</section>
<section id="additional" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center bottom-xs-pad-30">
                <img src="../img/sections/bg/book.jpg" width="280" height="440" alt="" />
            </div>
            <div class="col-md-8">
            <!--    <div class="section-title text-left" data-animation="fadeInLeft">
                    <h2 class="title">Why Contrators Choose Resin8</h2>
                </div>-->
                <div data-animation="fadeInUp">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus
                        malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus malesuada facilisis. Nunc
                        consectetur odio sed dolor tincidunt porttitor consectetur adipiscing elit. Vestibulum nec odio ipsum.
                        Suspendisse cursus malesuada facilisis. porttitor consecteturadipiscing elit. Vestibulum nec odio ipsum.
                        Suspendisse cursus malesuada facilisis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec odio ipsum. Suspendisse cursus
                        malesuada facilisis. Nunc consectetur odio sed dolor tincidunt porttitor. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit.
                    </p>
                </div>
                <!-- Features -->
                <div class="row responsive-features top-pad-20">
                    <!-- Features 1 -->
                    <div class="col-md-4" data-animation="fadeInLeft">
                        <!-- Title And Content -->
                        <span class="icon-refresh2 text-color"></span>
                        <h5>CIPP Products</h5>
                        <p>Lorem ipsum dolor sit amet elit. consectetur Vest</p>
                    </div>
                    <!-- Features 1 -->
                    <!-- Features 2 -->
                    <div class="col-md-4" data-animation="fadeInUp">
                        <!-- Title And Content -->
                        <span class="icon-settings3 text-color"></span>
                        <h5>Self Priming Prudocts</h5>
                        <p>Lorem ipsum dolor sit amet elit. consectetur Vest</p>
                    </div>
                    <!-- Features 2 -->
                    <!-- Features 3 -->
                    <div class="col-md-4" data-animation="fadeInRight">
                        <!-- Title And Content -->
                        <span class="icon-invert-colors text-color"></span>
                        <h5>Water Cleanable</h5>
                        <p>Lorem ipsum dolor sit amet elit. consectetur Vest</p>
                    </div>
                    <!-- Features 3 -->
                </div>
                <!-- Features -->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<section id="benefits" class="page-section">
    <div class="container">
        <div class="section-title" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Product Benefits</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/sections/bg/book.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Antimicrobial</h5>
                        <!-- Text -->
                        <div>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/sections/bg/book.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Elongated </h5>
                        <!-- Text -->
                        <div>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/sections/bg/book.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Corrosion Protection</h5>
                        <!-- Text -->
                        <div>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInLeft">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/sections/bg/book.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">No-Primer Needed</h5>
                        <!-- Text -->
                        <div>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInUp">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/sections/bg/book.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">water Cleanable</h5>
                        <!-- Text -->
                        <div>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4" data-animation="fadeInRight">
                <div class="boxed-block light-bg opacity pad-20 bottom-margin-30">
                    <a href="#">
                        <!-- image -->
                        <img src="../img/sections/bg/book.jpg" alt="" width="400" height="273" />
                        <!-- Title -->
                        <h5 class="title tb-margin-10">Manhole Protection</h5>
                        <!-- Text -->
                        <div>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                            intereste.
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

<section id="markets" class="page-section">
    <div class="image-bg content-in fixed" data-background="../img/sections/bg/book.jpg">
        <div class="overlay"></div>
    </div>
    <div class="container work-section">
        <div class="section-title white" data-animation="fadeInUp">
            <!-- Heading -->
            <h2 class="title">Our Markets</h2>
        </div>
        <div id="options" class="filter-menu" data-animation="fadeInUp">
            <ul class="option-set nav nav-pills">
                <li class="filter active" data-filter="all">All Markets</li>
                <li class="filter" data-filter=".floor">Floors</li>
                <li class="filter" data-filter=".liner">Liners</li>
                <li class="filter" data-filter=".crack">Cracks</li>
                <li class="filter" data-filter=".grout">Grout</li>
                <li class="filter" data-filter=".seal">Seal</li>
                <li class="filter" data-filter=".roof">Roof</li>
            </ul>
        </div>
    </div>
    <!-- filter -->
    <div id="mix-container" class="portfolio-grid" data-animation="fadeInUp">
        <!-- Item 1 -->
        <div class="grids col-xs-12 col-sm-6 col-md-3 mix all liner">
            <div class="grid">
                <img src="../img/sections/bg/book.jpg" width="400" height="273" alt="Tank Liners" class="img-responsive" />
                <div class="figcaption">
                    <div class="caption-block">
                        <h4>ResCIPP</h4>
                        <p>CIPP Industry Pipe Lining System</p>
                        <p class="small">#4000</p>
                    </div>
                    <!-- Image Popup-->
                    <a href="../img/sections/bg/book.jpg" data-rel="prettyPhoto[portfolio]">
                        <i class="fa fa-search"></i>
                    </a>
                    <a href="portfolio-single.html">
                        <i class="fa fa-link"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- Item 1 Ends-->
       
    </div>
   
</section>
<!-- downloads -->
<section id="#products"class="page-section">
    <div class="container shop">
        <div class="row">
            <div class="col-sm-12 col-md-9 product-page">
                <div class="row tb-pad-20">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="../img/sections/bg/book.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">                                                                      
                                        <a href="../img/sections/bg/book.jpg" data-rel="prettyPhoto[portfolio]"> </a>      
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>ResCIPP</h4>
                                <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h3>ResCIPP</h3>
                            <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>
                        
                        <div class="col-sm-6">
                           <h5>Data Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div> 
                        <div class="col-sm-6">
                            <h5>MSDS Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>  

                    </div>
                </div>
                <div class="product-separate"><hr /></div>
                
                <div class="row tb-pad-20">
                    <div class="col-md-4 col-sm-6">
                        <div class="product-item">
                            <div class="product-img">
                                <img src="../img/sections/bg/book.jpg" alt="" width="265" height="276" />
                                <div class="product-overlay">
                                    <a href="../img/sections/bg/book.jpg" data-rel="prettyPhoto[portfolio]"> </a>
                                </div>
                            </div>
                            <div class="product-details">
                                <h4>ResCIPP</h4>
                                <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                            </div>
                        </div>
                    </div>
                    <!-- .product desc -->
                    <div class="col-md-8 col-sm-6">
                        <div class="desc-head">
                            <h3>ResCIPP</h3>
                            <h5 class="text-color">CIPP Industry Pipe Lining System</h5>
                        </div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio.Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
                            <p>Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse a neque quam.</p>
                        </div>

                        <div class="col-sm-6">
                            <h5>Data Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>
                        <div class="col-sm-6">
                            <h5>MSDS Sheets</h5>
                            <a href="#" class="btn btn-default">View</a>
                            <a href="#" class="btn btn-green">Download</a>
                        </div>
                        <div class="product-separate hr"></div>
                    </div>
                </div>
                <div class="product-separate"><hr /></div>
                
            </div>
            <div class="sidebar col-sm-12 col-md-3">
              
                <div class="widget">
                    <div class="widget-title">
                        <h3 class="title">Filter By Category</h3>
                    </div>
                    <div id="MainMenu2">
                        <div class="list-group panel">
                            <div class="collapse in" id="demo3">
                                <a href="#1" class="list-group-item" data-toggle="collapse" data-parent="#1">
                                    Floor
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="1">
                                    <a href="#" class="list-group-item" data-parent="#1">Food Plant</a>
                                    <a href="#" class="list-group-item" data-parent="#1">Beverage Plant</a>
                                </div>
                                <a href="#2" class="list-group-item" data-toggle="collapse" data-parent="#2">
                                    Liner
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="2">
                                    <a href="#" class="list-group-item" data-parent="#2">Tank Cars</a>
                                    <a href="#" class="list-group-item" data-parent="#2">Manhole</a>
                                </div>
                                <a href="#3" class="list-group-item" data-toggle="collapse" data-parent="#3">
                                    Crack Filler
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="3">
                                    <a href="#" class="list-group-item" data-parent="#3">Flexible</a>
                                    <a href="#" class="list-group-item" data-parent="#3">Standard</a>
                                    <a href="#" class="list-group-item" data-parent="#3">Gel based</a>
                                </div>
                                <a href="#4" class="list-group-item" data-toggle="collapse" data-parent="#4">
                                    Sealer
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="4">
                                    <a href="#" class="list-group-item" data-parent="#4">Smooth / Decorative</a>
                                    <a href="#" class="list-group-item" data-parent="#4">Manhole Chimney Seal</a>
                                </div>
                                <a href="#5" class="list-group-item" data-toggle="collapse" data-parent="#5">
                                    Grout
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="5">
                                    <a href="#" class="list-group-item" data-parent="#5">Water wipeable</a>
                                </div>
                                <a href="#6" class="list-group-item" data-toggle="collapse" data-parent="#6">
                                   Green Concrete Primer
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="6">
                                    <a href="#" class="list-group-item" data-parent="#6"> Water based</a>
                                </div>
                                <a href="#7" class="list-group-item" data-toggle="collapse" data-parent="#7">
                                    Primer
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="7">
                                    <a href="#" class="list-group-item" data-parent="#7">Roof Primer</a>
                                    <a href="#" class="list-group-item" data-parent="#7">Epoxy Green Concrete Primer / All-Purpose</a>
                                    <a href="#" class="list-group-item" data-parent="#7">Water Based Green Concrete Primer</a>
                                </div>
                                <a href="#8" class="list-group-item" data-toggle="collapse" data-parent="#7">
                                    Grout
                                    <i class="fa fa-caret-down"></i>
                                </a>
                                <div class="collapse list-group-submenu" id="7">
                                    <a href="#" class="list-group-item" data-parent="#7">Water wipeable</a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <!-- category-list -->
                </div>
               
            </div>
        </div>
    </div>
</section>